* {
    padding: 0px;
    margin: 0px;
}
.container {
    background: #b7b7b78c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    font-family: 'Roboto', sans-serif;

}
.container-content { 
    width: 70%;
    min-height: 500px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 0 12px #5454541a;
    
}
.container-content img {

    width: 95%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #0a0a0a24;
}
.container-content h1 {
    margin: 20px 0 20px 0;
    color: #5046468c;
    
}
.container-input {
    display: flex;
    width: 100%;
    display: flex;
    width: 100%;
    background: #d8d6d6;
    align-items: center;
    justify-content: center;
    padding: 18px 0;
    box-shadow: inset 0px 0px 2px 0px #6f6f6f66;
}
.container-input input:last-child {
    background: none;
    border: none;
    background: #7682ab;
    padding: 8px;
    border-radius: 4px;
    color: white;
    outline: none;
    cursor: pointer;
}
.container-input input:last-child:active {
    opacity: 0.9;
}
input[type="file"]::-webkit-file-upload-button{
    background: none;
    border: none;
    background: #7682ab;
    padding: 8px;
    border-radius: 4px;
    color: white;
    outline: none;
    cursor: pointer;
}
.footer {
    position: absolute;
    bottom: 0;
    min-height: 50px;
    padding: 7px 0;
    border-top: 1px solid #adadad;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    font-size: 10px;
}
.footer p {
    padding: 2px 0;
}